body {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

h1 {
  font-size: 80px;
  margin-bottom: 0;
  margin-top: 15px;
}

p.heading {
  margin: 0 150px;
}

main {
  margin: 0 auto;
  margin-top: 25px;
  width: 600px;
  height: 600px;
}

ul.grid {
  margin: 0 auto;
  padding: 0;
  width: 600px;
  height: 600px;
  border: 2px solid #ffffff;
}

li {
  list-style-type: none;
  width: 300px;
  height: 300px;
  float: left;
  border: 1.5px solid #ffffff;
  box-sizing: border-box;
}

p.card {
  font-family: sans-serif;
  font-size: small;
}

footer {
  width: 700px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  font-family: sans-serif;
}
